<div class="sidebar" data-color="purple" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo"><a href="/" class="simple-text logo-normal">
      Pakatnamu
      </a></div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item active  ">
          <a class="nav-link" href="/">
            <i class="material-icons">Panel de administración</i>
            <p>Panel de Control</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/hoteles">
            <i class="material-icons">hotel</i>
            <p>Hoteles</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/clientes">
            <i class="material-icons">person</i>
            <p>Clientes</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/tour">
            <i class="material-icons">location_ons</i>
            <p>Tour</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/reservaciones">
            <i class="material-icons">note</i>
            <p>Reservaciones</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/tickets">
            <i class="material-icons">check</i>
            <p>Tickets</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/vuelos">
            <i class="material-icons">flight</i>
            <p>Vuelos</p>
          </a>
        </li>
      </ul>
    </div>
  </div>